@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    background-color: #eee;
    padding: 17px;
}

.container {
    width: 100%;
    max-width: 650px;
    margin: 0px auto;
    box-shadow: 0 2px 15px #9d9d9d1f;
    background-color: #fff;
    border: 1px solid rgb(233, 233, 233);
}

.container .banner {
    width: 100%;
    min-height: 80px;
}

.container .banner img {
    width: 100%;
}

.container .intro {
    padding: 0 20px;
    color: rgb(70, 70, 70);
    font-size: 20px;
    font-weight: 400;
}

.container .intro .green {
    color: #109d58;
}

.container .subject {
    width: 100%;
    padding: 40px 20px;
}

.container .subject .name {
    display: flex;
    width: 100%;
}

.container .subject .name .block {
    width: 25px;
    height: 25px;
    overflow: hidden;
}

.container .subject .name .block img {
    height: 100%;
}

.container .subject .name .text{
    color: rgb(70, 70, 70);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    width: 90%;
}

.container .subject .section {
    width: 90%;
    padding: 20px 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 2px solid #109d58;
}

.container .subject .section .title {
    font-size: 18px;
    color: rgb(70, 70, 70);
    padding-bottom: 10px;
}

.container .subject .section .list {
    display: flex;
    width: 100%;
    margin: 10px 0;
}

.container .subject .section .list .icon {
    height: 25px;
    width: 45px;
    overflow: hidden;
}

.container .subject .section .list .icon img {
    height: 100%;
}

.container .subject .section .list .text {
    width: 90%;
}

.container .subject .section .list .text p {
    line-height: 25px;
    font-size: 16px;
    color: rgb(70, 70, 70);
}

.container .fotter {
    width: 100%;
    padding: 60px;
    background-color: #109d58;
}

.container .fotter p {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.container .fotter .links {
    text-align: center;
}

.container .fotter .links .link {
    font-size: 25px;
    text-decoration: none;
    letter-spacing: 5px;
}

.container .fotter .links .link img {
    height: 25px;
}

@media(max-width: 400px) {
    body {
        padding: 0px;
    }    
    .container .intro {
        font-size: 16px;
    }
    .container .subject {
        padding: 20px 20px;
    }
    .container .subject .name .block {
        width: 20px;
        height: 20px;
    }
    .container .subject .name .text{
        font-size: 16px;
        padding-bottom: 10px;
    }
    .container .subject .section {
        padding: 15px 0px;
        margin-bottom: 15px;
    }
    .container .subject .section .title {
        font-size: 15px;
    }
    .container .subject .section .list .icon {
        height: 15px;
        width: 25px;
    }
    .container .subject .section .list .text p {
        line-height: 15px;
        font-size: 15px;
    }
    .container .fotter {
        padding: 60px 30px 30px;
    }
    .container .fotter p {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .container .fotter .links .link img {
        height: 20px;
    }
}